html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  background-color: #100E1D;
  color: #E7E7EB;
}

.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
}

.weather-today {
  background-color: #1E213A;
  padding: 1rem;
  flex: 2;
  padding: 1rem 2rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 100vh;
}


.weather-today input[type="text"].city-input{
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  display: block;
  margin: 1rem auto;
  font-size: 1rem;
  margin: 1rem auto;
}

.weather-today button[type="submit"].city-search{
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  display: block;
  font-size: 1rem;
  margin: 0 auto 2rem auto;
}

 img {
  display: block;
  margin: 1.5rem auto;
  max-width: 150px;
}

.weather-future {
  flex: 5;
}

@media screen and (max-width: 800px) {
  .App {
    flex-direction: column;
  }

  .weather-today, .weather-future {
    flex: 1 1 100%;
    width: 100%;
  }

  .weather-today input[type="text"].city-input,
  .weather-today button[type="submit"].city-search{
    display: inline-block;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}



@media screen and (max-width: 500px) {
  
  .weather-today input[type="text"].city-input,
  .weather-today button[type="submit"].city-search{
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}